<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel= "stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>Contact us at {{email}} for assistance.</p>
        </div>
        
        {{>footer}}
    </body>
</html>